.container {
    display: flex;
    height: 100vh;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 14px;
}

.content {
    flex: 7;
    padding: 20px;
}

.wrapper {
    margin-top: 20px;
    display: flex;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.side {
    flex: 1;
}