.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
}

.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.icons{
    display: flex;
    gap: 16px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 16px;
}

.search{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--selected);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    
}

.searchInput{
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}