.container{
    position: sticky;
}

.user{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.userImage{
    border-radius: 50%;
    object-fit: cover;
}

.userDetail{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.userName{
    font-weight: 500;
}

.userRole{
    font-weight: 200;
    color: var(--textSoft);
}

.list{
    list-style: none;
}

.cat{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}

.logout{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px;
    border-radius: 8px;
    width: 100%;

}
.logout:hover{	
    background-color: var(--selected);
    color: red;
}

@media (max-width: 1500px) {
    .userDetail {
        max-width: 80%; /* Ajusta a largura máxima para dispositivos móveis */
    }

    .user {
        flex-direction: column;
        align-items: flex-start;
    }

    .userName,
    .userRole {
        white-space: normal; /* Permite que o texto quebre em várias linhas */
    }
}
